@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    width: 200px;
    margin: 16px
}


body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 32px;
    text-align: center;
}


/* list.tpl */
.list_box {
}

.list_table {
}

.list_col_h {
}

.list_row {
}

.list_col {
}

.item_label {
}

.list_del_button {
}

.list_add_button {
}
