@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    width: 200px;
    margin: 16px
}


body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 32px;
    text-align: center;
}

/* template boxes */
.center_box {
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
/* list.tpl */
.list_box { 
  width: 700px;
  height: 900px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  overflow-y: scroll;
}

.list_action_box {
  width: 100%;
  height: 10%;
  border: 2px solid green;
}

.list_add_box {
  width: 100%;
  height: 5%;
  border: 2px solid red;
}
.list_table {
  width: 100%;
  height: 100%
}

.list_item_box {
  width: 100%;
  height: 75%;
  border: 2px solid blue;
}

.list_bottom_box {
  width: 100%;
  height: 5%;
}

.list_col_h {
}

.list_row {
}

.list_col {
}

.item_label {
}

.list_del_button {
}

.list_add_button {
}


